body {
  background-color: dodgerblue;
  color: beige;
  font-family: sans-serif;
}

#main-container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  margin: 30px;
  text-align: center;
}

table, thead {
  border: 2px solid beige;
}

thead {
  font-weight: bold;
  font-size: 1.5em;
}

td {
  border: 1px solid beige;
  padding: 5px;
}

.album-image {
  width: 100px;
  height: 100px;
  /*cursor: pointer;*/
}

.clickable-column-header {
  cursor: pointer;
}
